In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplot
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv(r'D:\agriculture\agri_dataset.csv')

In [3]:
df.describe()

,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yieldss
count,49.000000,49.000000,49.000000,49.000000
mean,20363.537347,31364.666735,1620.537755,98.086735
std,13561.435306,20095.783569,1104.990472,245.293123
min,5483.540000,7868.640000,85.790000,1.320000
25%,12774.410000,19259.840000,732.620000,9.590000
50%,17022.000000,25909.050000,1595.560000,13.700000
75%,24731.060000,35423.480000,2228.970000,36.610000
max,66335.060000,91442.630000,5777.480000,1015.450000

In [4]:
df.head(15)

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yieldss
0,ARHAR,Uttar Pradesh,9794.05,23076.74,1941.55,9.83
1,ARHAR,Karnataka,10593.15,16528.68,2172.46,7.47
2,ARHAR,Gujarat,13468.82,19551.90,1898.30,9.59
3,ARHAR,Andhra Pradesh,17051.66,24171.65,3670.54,6.42
4,ARHAR,Maharashtra,17130.55,25270.26,2775.80,8.72
5,COTTON,Maharashtra,23711.44,33116.82,2539.47,12.69
6,COTTON,Punjab,29047.10,50828.83,2003.76,24.39
7,COTTON,Andhra Pradesh,29140.77,44756.72,2509.99,17.83
8,COTTON,Gujarat,29616.09,42070.44,2179.26,19.05
9,COTTON,Haryana,29918.97,44018.18,2127.35,19.90
10,GRAM,Rajasthan,8552.69,12610.85,1691.66,6.83
11,GRAM,Madhya Pradesh,9803.89,16873.17,1551.94,10.29
12,GRAM,Uttar Pradesh,12833.04,21618.43,1882.68,10.93
13,GRAM,Maharashtra,12985.95,18679.33,2277.68,8.05
14,GRAM,Andhra Pradesh,14421.98,26762.09,1559.04,16.69

In [5]:
df.head()

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yieldss
0,ARHAR,Uttar Pradesh,9794.05,23076.74,1941.55,9.83
1,ARHAR,Karnataka,10593.15,16528.68,2172.46,7.47
2,ARHAR,Gujarat,13468.82,19551.90,1898.30,9.59
3,ARHAR,Andhra Pradesh,17051.66,24171.65,3670.54,6.42
4,ARHAR,Maharashtra,17130.55,25270.26,2775.80,8.72

In [6]:

laben = LabelEncoder()
df['Crop'] = laben.fit_transform(df['Crop'])

y=df['Crop']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Crop, dtype: int32

In [12]:
x = df.drop('Yieldss ',axis = 1)
x =df.drop('State',axis=1)

x.head()

,Crop,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yieldss
0,0,9794.05,23076.74,1941.55,9.83
1,0,10593.15,16528.68,2172.46,7.47
2,0,13468.82,19551.90,1898.30,9.59
3,0,17051.66,24171.65,3670.54,6.42
4,0,17130.55,25270.26,2775.80,8.72

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.6,random_state=46)

In [14]:
dectre = DecisionTreeClassifier()

In [15]:

dectre.fit(x_train,y_train)

DecisionTreeClassifier()

In [20]:
accuracy = dectre.score(x_train,y_train)
print('accuracy : {:.2f}'.format(accuracy*100))

accuracy : 100.00

In [23]:
predict =dectre.predict(x_test)
print(predict)

[7 8 0 0 2 1 1 2 5 1 9 1 5 7 0 9 3 0 2 4]